*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    background-color: black;
  }
  header {
    padding: 10px 30px 70px;
  }
  #header-text{
    padding: 50px 20px 50px;
  }
  /*---------------------------------Lists--------------------------------*/
  nav {
      background-color:black !important;
      overflow: hidden;
      float: right;
  }
  nav a{
      list-style-type: none;
   margin: 0;
    padding: 0;
    overflow:hidden;
    !background-color: gray;
  font-family:Verdana;
  }
  nav a:hover{
      color: rgb(71, 200, 255);
  } 
  li{
      float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        float: left;
      }
      h1,h2,h3,h4,h5,h6{
          color: white !important;
      }
  
      .header-text {
        margin-top:20% ;
        font-size: 30px;
      }
      span{
        color: aqua;
      }
      .sub-titles {
        color: white !important;
        font-size: larger !important;
      }
      /*---------------------about --------------------*/
      #about{
        color: white !important;
      }
      .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .about-col-1{
           padding: 80px 80px;
        flex-basis: 35%;
      }
      .about-col-2{
           padding: 80px 80px;
        flex-basis: 60%;
      }
.tab-titles{
      display: flex;
      margin: 20px 0 40px;
  }
  .tab-links{
      margin-right: 50px;
      font-size: 18px;
      font-weight: 500;
     cursor: pointer;
      position: relative;
  }
  .tab-links::after{
      content: '';
      width: 0;
      height: 3px;
      background: #06e7f3;
      position: absolute;
      left: 0;
      bottom: -8px;
      transition: 0.5s;
  }
  .tab-links.active-link::after{
      width: 50%;
  }
  .tab-contents ul li{
      list-style: none;
      margin: 10px 0;
  }
  .tab-contents ul li span{
      color: #12f1f1;
      font-size: 14px;
  }
  .tab-contents{
      display: none;
  }
  .tab-contents.active-tab{
      display: block;
  }
       .about-col-1 img {
          clip-path: circle(50%);
        float: left;
        }
    
        
      /*---------------------services------------------------*/
      #services{
        padding: 80px 80px;
        
      }
      .services-list{
        display: grid !important;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap:40px;
        margin-top: 50px;
      }
      .services-list div{
        background: #9ed8e8;
        padding: 40px;
        font-size: 13px;
        font-weight: 300;
        border-radius: 70px;
        transition:background 0.5s,transform 0.5s;
      }
      .services-list div i{
        font-size: 50px;
        margin-bottom: 30px;
      }
      .services-list div h2{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
      }
      .services-list div a{
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        margin-top: 20px;
        display: inline-block;
      }
      .services-list div:hover{
        background: #00aaff;
        transform:translateY(-10px) ;
      }
     /* ----------------Portfolio ----------------*/
     #portfolio{
   
      padding: 80px 80px;
    }
    .work-list{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      grid-gap: 40px;
      margin-top: 50px;
    }
    .work{
      border-radius:100px ;
      position: relative;
      overflow: hidden;
    }
    .work img{
      width:100%;
      border-radius: 10px;
      display: block;
      transition :transform 3s;
    }
    .layer{ 
      height: 0%;
      background: linear-gradient(rgba(14, 242, 48, 0.6),#b1eec4);
      border-radius:10px;
      position: absolute;  
      left: 10;
      bottom: 0;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10 40px;
      text-align: center;
      font-size: 14px;
      transition: height 0.5s; 
    }
    .layer h3{
      font-weight: 500;
      margin-bottom:20px;
    }
    .layer a{
      margin-top: 20px;
      color:#beb5b5 ;
      text-decoration: none;
      font-size: 18px;
      line-height:60px;
      background: #fff;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
    }
    .work:hover{
      transform: scale(1.1);
    }
    .work:hover .layer{
      height: 100%;
    }
    .btn{
      display: block;
      margin: 50px auto;
      width: fit-content;
      border: 1px solid #09a4f7;
      padding: 14px 50px;
      border-radius:6px;
      text-decoration: none;
      color: rgb(255, 255, 255); 
      transition: background 0.5s transform 0.5s;
      
    }
    .btn:hover{
     background: #0fd4ee;
    }
     /*------------------------------------Contact---------------------------------------------*/
     
     .contact-left{
      
        padding: 80px 80px;
       
      flex-basis: 35%;
     }
     .contact-right{
      padding: 80px 80px;
      flex-basis: 60%;
     }
     .contact-left p{
      margin-top: 30px;
     }
     .contact-left p a{
      color: #00aaff;
      margin-right: 15px;
      font-size: 25px;
     }
     .social-icons{
      margin-top: 30px;
     }
     .social-icons a{
      text-decoration: none;
      font-size: 30px;
      margin-right: 15px;
      color: rgb(51, 255, 0);
      display: inline-block;
      transition: transform 0.5s;
     }
     .social-icons a:hover{
      color:#00ff95 
     }
     .btn.btn2{
      display: inline-block;
      background: #00ff22;
     }
     .contact-right form{
     width: 100%;
     }
     form input,form textarea{
      width: 100%;
      border: 0;
      outline: none;
      background:#9ed8e8 ;
      padding: 15px;
      margin: 15px 0;
      color: rgb(13, 15, 15);
      font-size: 18px;
      border-radius: 6px;
     }
     form btn2{
      padding: 14px 60px;
      font-size: 18px;
      margin-top:20px ;
      cursor: pointer;
     }
     footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 1em;
      position: fixed;
      bottom: 0;
      width: 100%;
  }
    
     .copyright i{
      color: red;
     }
     /*---------------------------------CSS for small screens--------------------------------*/
     nav.fa{
      display: none;
     }
     @mediaonly screen and (max-width: 600px){
      nav.fa{
        display: block;
       }
       nav ul{
        background:#00f0f0;
        position:relative;
        top:0;
        right:-200px;
        width: 200px;
        height: 100vh;
        padding: top 50px;
        z-index: index 2;
       }
       nav ul li{
        display:block;
        margin:25px;
       }
       nav ul.fa{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor:pointer;
       }
     }
     #msg{
      color: aliceblue;
      margin-top: -10px;
      display: block;
     }
     
     
     
